<div class="jumbotron text-center">
    <h1 class="title">Space Articles</h1>
    <div id="homepage"></div>
    <h4>The stories of our planet</h4>
</div>

<div class="container text-center">
    <div id="topic"></div>

<form action="/news" method="post">
    <input id="userName" type="text" name="username" placeholder="Username">
    <input id="title" type="text" name="title" placeholder="Title">
    <textarea id="comment" type="text" name="body" placeholder="Comments Here"></textarea>
</form>
<div id="button">
    <div id="action-button">
        <button id="make-comment">Submit</button>
    </div>
    <button id="clear-all">Delete All Commnets</button>
    </div>